/* Selector universal */
/*
* { color: red; }
*/

/*Selector de varios elementos*/
h1, h2, h3, h4, h5, h6 {
	color: blue;
}


/*Selector descendente*/
div p {
	font-size: 20px;
	color: black;
}

div p a {
	color: red;
}

/*Selector de clase*/
/*
- Se puede repetirse (muchos elementos pueden tener la misma clase)
*/
.grande {
	font-size: 28px;
}
.rojo {
	color: red;
}

/*Selector de id*/
/*
- No puede repetirse (solo existe un id por elemnto)
- No usar cuando se trabaja con CSS
- Debe ser usado solo con JavaScript
*/
/*#rojo {
	color: red;
}*/